<a href="https://colab.research.google.com/github/David-Ramirez-A/analisis-de-datos/blob/main/Laboratorio_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Country':['Costa Rica', 'India','Brazil'],
      'Capital':['San José','New Dwlhi','Brasilia'],
      'Population':[4500000,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Dwlhi  1303171035
2      Brazil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos del vector")
suma=0
media=0
temp=[]
print("Ingrese cantidad de temperaturas")
N=int(input())
for i in range(N):
    temperatura=float(input("Ingrese la temperatura"))
    temp.append(temperatura)
    suma=suma+temp[i]
media=suma/N
print(media)

Promedio de los elementos del vector
Ingrese cantidad de temperaturas
3
Ingrese la temperatura3
Ingrese la temperatura3
Ingrese la temperatura3
3.0

In [ ]:
from IPython.utils.path import target_update
import pandas as pd

mascota = pd.DataFrame(
  data={'name':['Minino','Milo','Snoppy','Blanco','Littlepony'],
      'type':['gato','perro','perro', 'perro','caballo']},
  index=[71,42,11, 98,42]
)

visitas = pd.DataFrame(
    data={
        'pet_id': [42,31,71,42,98,42],
        'Fecha': ['2019-03-15', '2019-03-15','2019-04-05','2019-04-12','2019-05-23','2019-5-28'],
        'Costo':[2000,5000,1000,5000,6000,10000]
    }
)

mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id',inplace=True)

print(mascota.query('pet_id==71'))

#print(visitas['costo'].sum())
#print(visitas['costo'].min())
#print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='Costo',ascending=False))

          name  type
pet_id
71      Minino  gato
          pet_id       Fecha  Costo
visit_id
0             42  2019-03-15   2000
1             31  2019-03-15   5000
2             71  2019-04-05   1000
3             42  2019-04-12   5000
4             98  2019-05-23   6000
5             42   2019-5-28  10000
          pet_id       Fecha  Costo
visit_id
5             42   2019-5-28  10000
4             98  2019-05-23   6000
1             31  2019-03-15   5000
3             42  2019-04-12   5000
0             42  2019-03-15   2000
2             71  2019-04-05   1000

Laboratorio

In [ ]:
import pandas as pd
students = [('Ana', 23, 'San Jose', 'A'),
            ('Esteban', 22, 'Heredia', 'B'),
            ('Juan', 22, 'Cartago', 'A'),
            ('Karla', 22, 'Limón','A'),
            ('Ernesto', 21, 'Heredia', 'B')
            ]

df = pd.DataFrame(students, columns = ['Nombre','Edad','Ciudad','Seccion'])

print(df)

def getIndexes(deObj, value):
  listOfPos = []
  result = deObj.isin([value])
  seriesObj = result.any()
  columnNames = list(seriesObj[seriesObj == True].index)

  for col in columnNames:
    rows = list(result[col][result[col] == True].index)
    for row in rows:
      listOfPos.append((row,col))
  return listOfPos

listOfPositions = getIndexes(df,'A')

print('Index positios of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
  print(listOfPositions[i])

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B
Index positios of 22 in Dataframe :
(0, 'Seccion')
(2, 'Seccion')
(3, 'Seccion')

Búsqueda de películas con puntuación mayor a 7 y organizada de mayor a menor, y si contamos con la posibilidad de hacerlo